@font-face {
    font-family: "ediya";
    src: url(../ediya반응형/폰트/Helvetica\ Neue/Helvetica);
}
*{
    text-decoration: none;
    list-style: none;
    font-family: 'ediya';
    font-size: 15px;
}
body {
    margin: 0;
    padding: 0;
}

.navbar__menu a {
    text-decoration: none;
    color: #222;
    font-size: 15px;
    margin: 5px;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

.navbar__logo img {
    width: 200px;
}
.navbar__logo {
    margin-left: -10px;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li:after {
    display:block;
    content: '';
    border-bottom: solid 3px #002F6C;  
    transform: scaleX(0);  
    transition: 250ms ease-in-out;
  }
.navbar__menu li:hover:after { transform: scaleX(1); }
.navbar__menu li.fromRight:after{ transform-origin:100% 50%; }
.navbar__menu li.fromLeft:after{  transform-origin:  0% 50%; }

.navbar__links {
    list-style: none;
    padding-left: 0;
    color: rgb(0, 0, 0);
    display: flex;
}

.navbar__links li {
    padding: 8px 12px;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    top: 3%;
    right: 32px;
    font-size: 30px;
    color: black;
}
.slick-slider {
    top: -24px;
}
.slick-sample img {
    max-width: 100%;
    height: auto;
    top: -30px;
  }
  .slick-dots {padding: 0; text-align:center; margin: 0; position: absolute;
bottom: 20px; left: 50%; transform: translate(-50%,-50%);}
.slick-dots li {display: inline-block;margin-left: 8px; margin-right: 8px;}
.slick-dots li.slick-active button {background-color: rgb(0, 47, 108, 0.8);}
.slick-dots li button {width:15px; height:15px; background-color: rgba(255, 255, 255, 0.7); border-radius: 50%; text-shadow: none; color: transparent;  border: none;  font: 0;}
.slick-dots li :hover {background-color: rgb(0, 47, 108, 0.8);}

/* Custom Arrow */
button {
    color: rgba(153, 153, 153, 0);
    cursor: default;
    margin: 0;
    padding: 0;
    border-width: 0px;
    width: 0;
}
/*section2*/
.section2 {
    position: relative;
    display: block;
    top: -45px;

}
.news {
    display: flex;
    width: 50%;
    background-color: rgba(187, 160, 139, 0.2);
    height: 3rem;
    position: relative;
    float: left;
}
.find{
    display: flex;
    width: 50%;
    background: rgba(000, 000, 000, 0.05);
    position: relative;
    width: 50%;
    height: 3rem;
}
.newsi {
    margin-left: 5%;
    color: #002F6C;
}
.news1 {
    font-weight: bold;
    color: #002F6C;
    padding: 0% 0% 0% 0%;
    margin-left: 1%;
}
.news2 {
    font-weight: bold;
    color: #222;
    margin-left: 5%;
}
.news3 {
    font-size: 14px;
    margin-left: 5%;
}

.findtx {
    margin: 13px;
    color: #002F6C;
    font-weight: bold;
    font-size: 15px;
}

#form02{
    margin-top: 7px;
    margin-left: 7px;
    background-color: white;
    width:200px;
    height: 15px;
    border: 2px #002F6C solid;
}
#form02 input{
    vertical-align: top;
    margin: 0px;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 13px;
}
#form02{
    padding: 6px;
    border-radius: 10px;
}
#input02{
    border: none;
    width: 170px;
    padding-left: 10px;
}
#submit02{
    width: 80px;
    border: none;
    background-image: url(images/search.png); width: 20px;
    background-position: center;
    background-size: auto 90%;
    background-repeat: no-repeat;
}
/* ------------section3--------------- */
.section3 {
    background-image: url('images/section3.jpg');
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    position: relative;
    display: flex; 
    width: 100%; 
}

.sec3_1{
    position: absolute;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    transform: translate(-50%, 50%);
    left: 50%;
    top: 20%;
}
.sec3_1 h1{
    color: #002F6C;
}
.sec3_1 h1 em {
    font-style: normal;
    font-weight: 300;
}
.sec3_1 div {
    margin: 1%;
    font-weight: 800;
}
.sec3_1 .box1 {
    border: solid black 1px ;
    text-align: center;
    line-height: 1.7em;
    width: 7em;
    box-sizing: border-box;
    position: absolute;
    transform: translate(-50%, 150%);
    left: 50%;
}
.box1  {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
} 

.box1:hover {
    background-color: #002F6C;
    color: white;
    border: 1px solid #002F6C
}

.section4 .box2:hover {
    background-color: #002F6C;
    color: white;
    border: 1px solid #002F6C
}







/* ------------section3--------------- */
.section3 {
    background-image: url('images/section3.jpg');
    height: 40em;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    position: relative;
    display: flex; 
    top: -45px;
}

.sec3_1{
    position: absolute;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    transform: translate(-50%, 50%);
    left: 50%;
    top: 20%;
}
.sec3_1 h1{
    color: #002F6C;
    font-size: 25px;
}
.sec3_1 h1 em {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
}
.sec3_1 div {
    margin: 1%;
    font-weight: 800;
}
.sec3_1 .box1 {
    border: solid black 1px ;
    text-align: center;
    line-height: 1.7em;
    width: 7em;
    box-sizing: border-box;
    position: absolute;
    transform: translate(-50%, 150%);
    left: 50%;
}
.box1  {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
} 

.box1:hover {
    background-color: #002F6C;
    color: white;
    border: 1px solid #002F6C
}

.sec4 .box2:hover {
    background-color: #002F6C;
    color: white;
    border: 1px solid #002F6C
}

/* section4 */

.box2 {
    border: solid black 1px ;
    text-align: center;
    line-height: 1.7em;
    width: 7em;
    box-sizing: border-box;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    margin-left: 2px;
}

.section4 {
    width: 100%;
    height: 10rem;
    background-color: #DEE9F7
}
.secimg {
    float: left;
    margin-left: 38%;
    margin-right: -117px;
}
.secimg img {
    width: 50%;
    margin-top: -20px;
}
.sectxt {
    float: left;
    margin-top: -15px;
}
.sectxt h1 {
    color: #002F6C;
    font-size: 25px;
}
.sectxt h1 em {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
}
.sectxt p {
    margin-top: -8px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

/* section5 */

.box3:hover {
    background-color: #002F6C;
    color: white;
    border: 1px solid #002F6C
}

.section5 {
    background-color: #F5F5F5;
    height: 40em;
    position: relative;
    margin-top: 41px;
}
.text5 {
    text-align: center;
    padding: 3em;
}
.text5 h1 {
    color: #002F6C;
    font-size: 25px;
}
.text5 h1 em {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
}
.text5 p {
margin-top: -8px;
font-weight: bold;
color: rgba(0, 0, 0, 0.7);
}
.text5 a {
    width: 100%;
    text-align: center;
}
.box3 {
    border: solid black 1px ;
    text-align: center;
    line-height: 1.7em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    margin-left: 2px;
    width: 10%;
}
.box3  {
    border: solid black 1px;
    text-align: center;
    line-height: 1.7em;
    width: 7em;
    box-sizing: border-box;
    position: absolute;
    transform: translate(-50%, 45%);
    left: 50%;
}

.box3:hover {
    background-color: #002F6C;
    color: white;
    border: 1px solid #002F6C
}

.img5 img{
    margin-top: 5em;
    float: none; 
    text-align: center;
    width: 18%;
    margin: 11px;  
    margin-top: 23px;  
}
/* section6 */

.text6-6:hover {
    background-color: #002F6C;
    color: white;
    border: 1px solid #002F6C
}

.section6 {
    position: relative;
    background-image: url('images/메인_데스크탑/메인_5_홈카페/메인_5_홈카페.jpg');
    height: 60em;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: inline-block; width: 100%; white-space: nowrap;
}
.homecafe {
    position: absolute;
    transform: translate(-50%, 65%);
    left: 50%;
}
.text6 {
    position: absolute;
    transform: translate(-50%, 70%);
    left: 50%;
    text-align: center;
    
}
.text6-6 {
    border: 1px solid white;
    font-size: 17px;
    font-weight: 600;
    margin-top: 1.5em;
    box-sizing: border-box;
    width: 20em;
    line-height: 30px;
}
.text6-6 {
    text-decoration: none;
    color: white;
}
.youtube
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 70%);
    border: 2px solid red;
    width: 50%;
    height: 40%;
}
.text6 h1 {
    color: #002F6C;
    font-size: 25px;
}
.text6 h1 em {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
}
/* ------------------------------------ */

/* section7 */
.section7 {
    position: relative;
    width: 100%;
    height: 40em;
}
.text7_7 a {
    text-decoration: none;
    color: #002F6C;
}
.li7 {
    font-size: 16px;
    margin-top: 7px;
}
.text7_7 {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}
.image7 {
    text-align: justify;
}
.image7 img {
    display: inline-block;
}
.image7:after{
    content:""; display: inline-block; width: 100%; height: 0;}

    .text7_7 h1 a {
        color: #002F6C;
        font-size: 25px;
    }

    /* footer */

footer {
    background-color: #262626;
    width: 100%;
    height: 13rem;
}
.f1 {
    width: 100%;
    height: 3rem;
    border-bottom: 2px solid white;
    text-align: center;
}
.ftxt p {
    float: left;
    font-size: 13px;
    margin-right: 40px;
    text-align: center;
    color: white;
}
.f2 {
    width: 100%;
    height: 3rem;
    text-align: center;
}
.f2-1 p {
    float: left;
    font-size: 13px;
    margin-right: 40px;
    text-align: center;
    color: white;
}
.f2-2 p {
    float: left;
    font-size: 13px;
    margin-right: 40px;
    text-align: center;
    color: white;
}
.f2-3 p {
    float: left;
    font-size: 13px;
    margin-right: 40px;
    text-align: center;
    color: white;
}
.f2-4 img {
    position: absolute;
    left: 0;
    transform: translate(-11px, 79px);
}
.last img {
    display: none;
}




















































@media screen and (max-width: 935px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li {
        width: 100%;
        text-align: center;
    }
    .navbar__links {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar__toggleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__links.active {
        display: flex;
    }
    .navbar__menu li:hover:after { transform: scaleX(0.2); }
    .slick-dots li button {width:10px; height:10px;}
    .slick-dots {transform: translate(-50%, -10%);}
    
    .news {
        width: 100%;
        height: auto;
    }
    .news2 {
        font-size: 13px;
    }
    .news3 {
        display: none;
    }
    .newsi {
        margin-left: 10%;
    }
    .find {
        width: 100%;
        height: auto;
    }
    .findtx {
        margin-right: 4%;
    }
    .section3 {
        height: 30rem;
        width: 100%;
    }
    .sec3_1 {
        margin-top: -30px;
    }
    .subtex {
        font-size: 13px;
    }
    .sec3_1 {
        width: 100%;
        transform: translate(-50%, 33%);
    }
    .section3 {
        height: 300px;
    }
    .sec3_1 .box1 {
        transform: translate(-57%, 91%);
    }
    .sectxt p {
        font-size: 13px;
    }
    .secimg img {
        margin-left: 0;
        margin-right: 0;
    }
    .secimg {
        margin-left: 10px;
        margin-top: 0px;
    }

    .text5 p {
        font-size: 13px;
    }
    .img5 {
        display: none;
    }
    .section5 {
        background-image: url(images/메인_데스크탑/메인_4_드림팩토리/드림팩토리2.jpg);
        width: 100%;
        height: 50em;
        background-repeat: no-repeat;
        background-position: center center; 
        background-size: cover;
    }
    .homecafe {
        height: 200px;
        width: 400px;
        top: 15%;
    }
    .section6 {
        height: 40em;
    }
    .text6-6 {
        font-size: 13px;
    }
    .f2 {
        display: none;
    }
    .f2-4 img {
        display: block;
    }
    .ftxt {
        display: none;
    }
    .last img {
        display: inline;
    }
    .f2 {
        display: none;
    }
}



